<div>
    <div class="card" style="width: 18rem;"  >
        <div class="card-header">
          Cards By SuperType
        </div>
        <ul class="list-group list-group-flush">
            
              <li class="list-group-item">
                <a href="/collection/super/Pokémon">
                  <p>Pokémon</p>
                </a>
              </li>

            <a href="/collection/super/Trainer">
              <li class="list-group-item">
                <p>Trainers</p>
              </li>
            </a>
            <a href="/collection/super/Energy">
              <li class="list-group-item">
                Energy
              </li>
            </a>
        </ul>
      </div>
    </div>
