<div class="container">

    <h2><u>Your Collection Dashboard</u></h2>

    <div class="row">
        <div class="col-md-3">
        <a href="collection/myCards">
            <div  class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">{{count}}</h5>
                    <p class="card-text" style="text-align: center;">Cards In Collection</p>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
        <a>
            <div  class="card text-white bg-secondary mb-8" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">1</h5>
                    <p class="card-text" style="text-align: center;">Series Completed</p>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
        <a>
            <div  class="card text-white bg-warning mb-8" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">8</h5>
                    <p class="card-text" style="text-align: center;">Sets Completed</p>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
            <a>
                <div  class="card text-white bg-success mb-8" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">$1000.00</h5>
                        <p class="card-text" style="text-align: center;">Estimated Collection Value</p>
                    </div>
                </div>
            </a>
            </div>
    </div>
    <div class="row">
    <div class="col-md-3">
        <app-collection-types></app-collection-types>
          
          
        </div>
        <div class="col-md-3">
            <app-collection-supers></app-collection-supers>
              
              
            </div>
        
    <div class="col-md-3">
        <app-collection-rarities></app-collection-rarities>

          
    </div>
    <div class="col-md-3">
        <app-collection-series></app-collection-series>
          
          
        </div>
</div>

    

   
</div>