<div style="background-color:#f8f8ff;">
    <div class="jumbotron jumbotron-fluid" style="margin-top: -24px;">
        <div class="container">
          
        </div>
        <hr/>
      </div>
      <div style="text-align: center;">
        <br/>
        <h1 class="display-4" >Sword & Shield: Chilling Reign out now!</h1>
        <p class="lead">Sign-up and begin tracking your TCG collection today! Cards are updated upon new releases, there will always be more cards to collect!</p>
        <br/>
        
    
    </div>
      <hr/>
      <div class="container bootstrap snippets bootdey" style="justify-content: center; ">
        <section id="content" class="current">
            <div class="container text-center" style="justify-content: center;">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h2>Your Collection</h2>
                        <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">At Your <span class="text-danger">Fingertips</span></h2>
                    </div>
                </div>
                <div class="row" syle="justify-content: center; text-align: center;">
                    <div class="col-lg-offset-1 col-sm-12 col-md-12 col-lg-12">
                        <div class="features-list ml-5" >
                            <div class="row" style="justify-content: center;" >
                                <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="feature-block bootdey" style="visibility: visible;">
                                        <!-- <div class="ico fa fa-magic"></div> -->
                                        <img class="rounded-circle z-depth-2" src="../../assets/pokeball-2.png" width="100" height="100">
                                        <div class="name">
                                            Build Your Collection
                                        </div>
                                        <div class="text">View cards that are in your collection, and keep track of the ones that aren't. Quickly add and remove cards from your collection, and visualize all of your cards in one location. Filter your colleciton by type, rarity, set, and more!</div>
                                        <div class="more">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="feature-block bootdey" style="visibility: visible;">
                                        <img class="rounded-circle z-depth-2" src="../../assets/pokeball-2.png" width="100" height="100">
                                        <div class="name">
                                            Find and Post Trades
                                        </div>
                                        <div class="text">Find other collectors that are looking to help complete your latest set. See cards that have been listed for a trade, and offer a trade of your own. </div>
                                        <div class="more">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="feature-block bootdey" style="visibility: visible;">
                                        <img class="rounded-circle z-depth-2" src="../../assets/pokeball-2.png" width="100" height="100">
                                        <div class="name">
                                            Collection Value
                                        </div>
                                        <div class="text">Use our ever-evolving tools to help diagnose and analyze your collection. Keep track of sets completed, set progress, and get an estimate for the value of your entire collection. </div>
                                        <div class="more">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div> 
    </div> 
    
    
    
    <!-- <div>
        <div class="d-flex justify-content-center">
            <div>
            <p style="justify-content: center;">
                Welcome to the official Collect 'Em All trading card management system.
                 Control of your collection is at your finger tips, and cards are out there to be collected!
            </p>
            <p style="justify-content: center;">Card database is updated upon each new release. Find cards that have been produced from 1999 until now.</p>
        </div>
        </div>


    </div> -->
