/* You can add global styles to this file, and also import other style files */
#div {
    background-color: 	#f8f8ff;
}

.scroll {
    overflow-y: auto;
}

.border {
     background-color: #f3f3f3;
     }

     