<div class="container">
   <div class="row">
      <div class="col-lg-4">
         <img class="singleCard" src={{card.image}}>
         <br/>
         <br/>
         <div>
            <div *ngIf="!cardInCollection()" class="row" style="justify-content: center; width: 100%;">
               <app-add-to-collection ></app-add-to-collection>
            </div>
            <br/>
            <div *ngIf="!cardInCollection()" class="row" style="justify-content: center; width: 100%;">
               <app-add-trade [cardId]="cardId"></app-add-trade>
            </div>
            <div *ngIf="cardInCollection()">
              <app-remove-from-collection></app-remove-from-collection>
            </div>
         </div>
         
         
      </div>
      <div class="col-lg-6">
         <div class="row">
            <h1>{{card.name}}</h1>
            <span>____________________________________________________________________________</span>
            
         </div> 
         <div class="row">
            <h4>{{card.type}}</h4>
         </div>
      </div>
</div>
</div>

