.square{
    width: 31.85%;
    height: 100%;
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    
   
}

img{
    height: 100%;
    width: 100%;
}
