<div class="col-md-9">
    <div class="card-group" >
        <div class="col-sm-3" *ngFor="let card of cards">
            
            <div class ="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front" >
                        <img src="{{card.image}}">
                    </div>
                    <div class="flip-card-back">
                        <h3>{{card.name}}</h3>
                        <p>{{card.type}}</p>
                        <p>{{card.setId}}</p>
                      
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>
