<div class="container">
    <div>
        
    </div>
<div class="container border rounded">
    <br/>
    <h3 style="text-align: center;"> {{set.name}}</h3>
    <hr/>
    <br/>
    <div class="row" >
        <div class="col-md-3" *ngFor="let card of cards">
            <a href="http://localhost:4200/cardDetails/{{card.id}}">
                <div class="card-image">
                        <img src="{{card.image}}">
                  </div>
            </a>    
            <br/>
            <br/>
        </div>
    </div>
</div>
</div>